<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title><%= pageTitle %></title>
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <!--link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/-->
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <!--Radar Chart in the Skills Section-->
        <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-core.min.js"></script>
        <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-radar.min.js"></script>
        <!--Contact Us Section CSS Files-->
        <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
        <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
        <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
        <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
        <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
        <link rel="stylesheet" type="text/css" href="css/util.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Nafisa S</a>
                <button class="navbar-toggler bg-primary navbar-toggler-right text-uppercase font-weight-bold text-web rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Projects and Interests</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#certificates">Certificates</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">Skills</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <!--header class="masthead bg-primary text-white text-center"-->
        <div style="background-image: url('assets/img/background/sam-albury-oA7MMRxTVzo-unsplash.jpg');">
            <header class="header-section text-center">
                <div class="container d-flex align-items-center flex-column mb-5">
                    <!-- Masthead Avatar Image-->
                    <img class="masthead-avatar" src="assets/img/portfolio/laptopAvatar.png" alt="" />
                </div>
                <div class="d-flex align-items-center flex-column">
                    <pre id="typewriter">
                        <h1 class="font-size text-uppercase">Nafisa S</h1>
                        <span class="bodyheader_typing">Software Developer - ML/AI Enthusiast - Always Learning</span></pre>
                </div>
            </header>
            
        </div>
        <!-- Portfolio Section-->
        <section class="page-section portfolio bg-projects" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Projects and Interests</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <!--div class="divider-custom-line"></div-->
                </div>
                <!-- Portfolio Grid Items-->
                <div class="row2">
                    
                    <!-- Portfolio Item 1-->
                    <div class="row_projects mb-5">
                        <div class="col-md-6 col-lg-4">
                            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/number_resized3.png" alt="" />
                            </div>
                        </div>
                        <h3 class="portfolio-hover portfolio-modal-title text-inside1 justify-content-center text-center m-center" data-toggle="modal" data-target="#portfolioModal1">ML Handwritten Digit Recognizer</h3>
                    </div>
                    
                    <!-- Portfolio Item 2-->
                    <div class="row_projects mb-5">
                        <div class="col-md-6 col-lg-4">
                            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/led-light_resized2.png" alt="" />
                            </div>
                        </div>
                        <h3 class="portfolio-hover portfolio-modal-title text-inside2 justify-content-center text-center m-center" data-toggle="modal" data-target="#portfolioModal2">Data Acquisition System</h3>
                    </div>
                    
                    <!-- Portfolio Item 3-->
                    <div class="row_projects mb-5">
                        <div class="col-md-6 col-lg-4">
                            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/robots_resized2.png" alt="" />
                            </div>
                        </div>
                        <h3 class="portfolio-hover portfolio-modal-title text-inside2 justify-content-center text-center m-center" data-toggle="modal" data-target="#portfolioModal3">Sumobot</h3>
                    </div>
                    
                    <!-- Portfolio Item 4-->
                    <div class="row_projects mb-5">
                        <div class="col-md-6 col-lg-4">
                            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/arm_resized2.png" alt="" />
                            </div>
                        </div>
                        <h3 class="portfolio-hover portfolio-modal-title text-inside3 justify-content-center text-center m-center" data-toggle="modal" data-target="#portfolioModal4">OpenPose ML Model</h3>
                    </div>
                    
                    <!-- Portfolio Item 5-->
                    <div class="row_projects mb-5">
                        <div class="col-md-6 col-lg-4">
                            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/typing_resized2.png" alt="" />
                            </div>
                        </div>
                        <h3 class="portfolio-hover portfolio-modal-title text-inside3 justify-content-center text-center m-center" data-toggle="modal" data-target="#portfolioModal5">Suggestive Keyboard</h3>
                    </div>
                    
                    <!-- Portfolio Item 6-->
                    <div class="row_projects">
                        <div class="col-md-6 col-lg-4">
                            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/opensource_resized2.png" alt="" />
                            </div>
                        </div>
                        <h3 class="portfolio-hover portfolio-modal-title text-inside4 justify-content-center text-center m-center" data-toggle="modal" data-target="#portfolioModal6">Open Source</h3>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Certifications Section-->
        <section class="page-section bg-primary2 portfolio" id="certificates">
            <div class="container">
                <!-- Certificate Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-certificate">Certificates</h2>
                <!-- Certificate Grid Items-->
                <div class="row2">
                    <!-- Certificate Item 1-->
                    <div class="row_projects mb-5">
                        <div class="col-md-6 col-lg-4">
                            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#certificateModal1">
                                <div class="portfolio-item-caption2 d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/nodejs_resized2.png" alt="" />
                            </div>
                        </div>
                        <h3 class="portfolio-hover portfolio-modal-title text-white justify-content-center text-center m-center" data-toggle="modal" data-target="#certificateModal1">NodeJS - The Complete Guide (Udemy)</h3>
                    </div>
                    <!-- Certificate Item 2-->
                    <div class="row_projects mb-5">
                        <div class="col-md-6 col-lg-4">
                            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#certificateModal2">
                                <div class="portfolio-item-caption2 d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/server_resized2.png" alt="" />
                            </div>
                        </div>
                        <h3 class="portfolio-hover portfolio-modal-title text-white justify-content-center text-center m-center" data-toggle="modal" data-target="#certificateModal2">The Complete SQL Bootcamp (Udemy)</h3>
                    </div>
                    <!-- Certificate Item 3-->
                    <div class="row_projects">
                        <div class="col-md-6 col-lg-4">
                            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#certificateModal3">
                                <div class="portfolio-item-caption2 d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/machine-learning_resized2.png" alt="" />
                            </div>
                        </div>
                        <h3 class="portfolio-hover portfolio-modal-title text-white justify-content-center text-center m-center" data-toggle="modal" data-target="#certificateModal3">Machine Learning (Coursera)</h3>
                    </div>
                </div>
            </div>
        </section>
        <!-- Skills Section-->
        <section class="page-section bg-skills text-white mb-0" id="about">
            <div class="container">
                <h2 class="page-section-heading text-center text-uppercase text-skills mb-0">Skills</h2>
            </div>
            <div id="radarchart"></div>
        </section>

        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.-->
        <!--form id="contactForm" name="sentMessage" novalidate="novalidate">
            <div class="container-contact100" id="contact">
                <div class="wrap-contact100">
                    <!--form class="contact100-form validate-form"-->
                        <!--span class="contact100-form-title">
                            Send A Message
                        </span-->
                        <!--h2 class="page-section-heading text-center text-uppercase text-white">
                            <span class="contact100-form-title">
                                Send A Message
                            </span>
                        </h2>
                        <div class="wrap-input100 validate-input" data-validate="Please enter your name">
                            <input class="input100" type="text" id="name" placeholder="Full Name">
                            <span class="focus-input100"></span>
                            <p class="help-block text-danger"></p>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate = "Please enter your email: e@a.x">
                            <input class="input100" type="text" id="email" placeholder="E-mail">
                            <span class="focus-input100"></span>
                            <p class="help-block text-danger"></p>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate = "Please enter your phone">
                            <input class="input100" type="text" id="phone" placeholder="Phone">
                            <span class="focus-input100"></span>
                            <p class="help-block text-danger"></p>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate = "Please enter your message">
                            <textarea class="input100" id="message" placeholder="Your Message"></textarea>
                            <span class="focus-input100"></span>
                            <p class="help-block text-danger"></p>
                        </div>

                        <div id="success"></div>
                        <div class="form-group"><button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Send</button></div>

                        </div>
                    <!--/form-->
                <!--/div>
            </div>
	        <div id="dropDownSelect1"></div>
        </form>

        <!-- Footer-->
        <footer class="footer2 text-center bg-web">
            <div class="container">
                <div class="row">
                    <!-- Footer Social Icons-->
                    <div class="col2-lg-4 mb-lg-0">
                        <h4 class="text-uppercase mb-4 text-web">Around the Web</h4>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/nafisa-sarowar"><i class="fab fa-fw fa-linkedin-in"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/nafisaaa130"><i class="fab fa-github pr-1"></i></a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Copyright Section-->
        <div class="copyright py-4 text-center text-white">
            <div class="container"><small>Copyright © Nafisa Web</small></div>
            <small>Freelance is a free to use, MIT licensed Bootstrap theme created by <a href="http://startbootstrap.com">Start Bootstrap</a></small>
            <div><small>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></small></div>
            <small>Keyboard Photo by <a href="https://unsplash.com/@sammisamuel21?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Sam Albury</a> on <a href="https://unsplash.com/@sammisamuel21?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></small>
            <br><small>Contact Section Theme by <a href="https://colorlib.com/" target="_blank">Colorlib</a> Powered by <a href="https://wordpress.org/" target="_blank">WordPress</a></small>
        </div>
        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
        <div class="scroll-to-top d-lg-none position-fixed">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a>
        </div>
        <!-- Portfolio Modals-->
        <!-- Portfolio Modal 1-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-uppercase mb-0" id="portfolioModal1Label">ML Handwritten Digit Recognizer</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <!--div class="divider-custom-line"></div-->
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="assets/img/portfolio/handwritten-recognizer.png" alt="" />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-5">
                                        After training a model using Keras and the MNIST dataset, a Python GUI is used to verify the accuracy of the model.
                                        <br><b>Tools:</b> Python, Keras
                                    </p>
                                    <a href="https://github.com/nafisaaa130/Basic-ML-Handwritten-Digit-Recognizer">
                                        <button class="btn btn-primary">
                                            <i class="fab fa-times fa-github"></i>
                                            GitHub Repo
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 2-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-uppercase mb-0" id="portfolioModal2Label">Data Acquisition System</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <!--div class="divider-custom-line"></div-->
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="assets/img/portfolio/BarLEDs.gif" alt="" />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-5">
                                        This system uses an Esduino, and an accelerometer to display the angle of inclination as a BCD (Binary Coded Decimal) or to the nearest 10th degree. The exact value of the angle is also serially communicated to a PC.
                                        <br><b>Tools:</b> C, Esduino, RealTerm (serial communication), Accelerometer
                                    </p>
                                    <a href="https://github.com/nafisaaa130/Data-Acquisition-System-Utilizing-Serial-Communication">
                                        <button class="btn btn-primary">
                                            <i class="fab fa-times fa-github"></i>
                                            GitHub Repo
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 3-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-uppercase mb-0" id="portfolioModal3Label">Sumobot</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <!--div class="divider-custom-line"></div-->
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="assets/img/portfolio/ezgif.com-gif-maker.gif" alt="" />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-5">
                                        This automated sumobot was created from scratch. A microcontroller was used to program the wheels, UV sensor, and LRD sensors. The overall structure of the robot was custom designed and 3D printed.
                                        <br><b>Tools:</b> C, Arduino, Autodesk
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 4-->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-labelledby="portfolioModal4Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-uppercase mb-0" id="portfolioModal4Label">OpenPose ML Model</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <!--div class="divider-custom-line"></div-->
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="assets/img/portfolio/Output-Skeleton.jpg" alt="" />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-5">
                                        For a hackathon, as a group of 4, we implemented the OpenPose machine learning model and trained the model using the MPII Human Pose dataset. The model pinpointed the joints on the human body. We implemented this and using the cosine law, calculated the angle of how much the arm has been moved from a specific starting joint. 
                                        <br><b>Tools:</b> Python, OpenPose, NumPy
                                    </p>
                                    <a href="https://github.com/nafisaaa130/OpenPose-Demo">
                                        <button class="btn btn-primary">
                                            <i class="fab fa-times fa-github"></i>
                                            GitHub Repo
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 5-->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-labelledby="portfolioModal5Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-uppercase mb-0" id="portfolioModal5Label">Suggestive Keyboard</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <!--div class="divider-custom-line"></div-->
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="assets/img/portfolio/typing_resized2.png" alt="" />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-5">
                                        During a competition, as a group of 4, we created a suggestive keyboard utilizing Python. The keyboard would provide suggestive words when the user starts inputting letters. It also had a text-to-speech feature, to make it more accomodating for every user.
                                        <br><b>Tools:</b> Python
                                    </p>
                                    <a href="https://github.com/nafisaaa130/Python-Keyboard">
                                        <button class="btn btn-primary">
                                            <i class="fab fa-times fa-github"></i>
                                            GitHub Repo
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 6-->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-labelledby="portfolioModal6Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-uppercase mb-0" id="portfolioModal6Label">Open Source</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <!--div class="divider-custom-line"></div-->
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="assets/img/portfolio/opensource_resized2.png" alt="" />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-5">
                                        I want to start contributing to open source software. The concept is something that interests me and I feel like it gives an opportunity to see what's out there through a first-hand experience.
                                        <br><b>Other Interests:</b> Drawing and Art 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Certificate Modals-->
        <!-- Certificate Modal 1-->
        <div class="portfolio-modal modal fade" id="certificateModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-uppercase mb-0" id="portfolioModal1Label">NodeJS - The Complete Guide (Udemy)</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <!--div class="divider-custom-line"></div-->
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="assets/img/portfolio/nodejs_resized2.png" alt="" />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-5">
                                        Covered topics in REST APIs, the MVC, APIs, adding user authenticaiton, implementing MongoDB/SQL, GraphQL APIs, etc.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Certificate Modal 2-->
        <div class="portfolio-modal modal fade" id="certificateModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-uppercase mb-0" id="portfolioModal2Label">The Complete SQL Bootcamp (Udemy)</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <!--div class="divider-custom-line"></div-->
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="assets/img/portfolio/server_resized2.png" alt="" />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-5">
                                        Attained knowledge in querying databases, performing data analysis, aggregating functions with GROUP BY, etc.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Certificate Modal 3-->
        <div class="portfolio-modal modal fade" id="certificateModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-uppercase mb-0" id="portfolioModal3Label">Machine Learning (Coursera) - Standford University</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <!--div class="divider-custom-line"></div-->
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="assets/img/portfolio/machine-learning_resized2.png" alt="" />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-5">
                                        Implemented MATLAB to model various concepts of ML such as: neural networks, deep learning, supervised learning, SVMs, etc.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        
        <!--Contact Me Section-->
        <!--Deleted this because it ruins the bootstrap transitions-->
        <!--script src="vendor/jquery/jquery-3.2.1.min.js"></script-->
        <script src="vendor/animsition/js/animsition.min.js"></script>
        <script src="vendor/bootstrap/js/popper.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="vendor/select2/select2.min.js"></script>
        <script src="vendor/daterangepicker/moment.min.js"></script>
        <script src="vendor/daterangepicker/daterangepicker.js"></script>
        <script src="vendor/countdowntime/countdowntime.js"></script>
        <script src="js/main.js"></script>

        <!--Old Contact form JS-->
        <!--script src="assets/mail/jqBootstrapValidation.js"></script>
        <script src="assets/mail/contact_me.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>